<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Custom Styling need to go back and create-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    	<!-- {{!-- <link rel="stylesheet" href="/publicx/css/style.css"> --}} -->
    	
		{{!-- jquery script --}}
    	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    	<script type="text/javascript" src="/static/assets/js/pagefunc.js"></script>

		<title>Money Chirp</title>
	</head>
	<body>
		
		<div class="container">
			
			<center>
			{{!-- top of page. logo placement holder --}}
			</center>

			<center>
				<h1 class="title">Money Chirp</h1>
			</center>

			{{{ body }}}

		
		</div>
	</body>
</html>