
<div class="row">
	<center>
	{{!-- handle bars to insert into main.handlebars CENTER--}}
	<div class="col-md-8 col-sm-5 col-xs-5">
		<h4>hi and welcome</h4>
		{{#each mc_user}}

		{{/each}}
<div class="container-fluid">

	<div class="container">
		<div class="row">
			<h2>Test welcome <span class="member-name"></span></h2>
		</div>
	</div>	

	<h6>Add Company</h6>

	<form class="search-add">
		<div class="form-group">
			{{!-- <lable for="exampleSearch">Seach</lable> --}}
			<input type="search" class="form-group" id="search-input" placeholder="AAPL"
			<button type="submit" class="btn btn-default">Search</button>
		</div>

		{{!-- <button type="submit" class="btn btn-default">Search</button> --}}

	</form>

	{{!-- test  --}}
	
		{{!-- <div class="email-list">
			{{#each company_name}}
		</div> --}}
		
	

	<div class="row">
		<div id="memberFollowingList">
		{{!-- add handlebars here --}}
		</div>
	</div>
</div>