<div class="row">
	<center>
	{{!-- handle bars to insert into main.handlebars CENTER--}}
	<div class="col-md-8 col-sm-5 col-xs-5">
		<h4>Sign Up!</h4>

		<form class="signup">
			<div class="form-group">
				<lable for="exampleInputEmail">Email</lable>
				<input type="email" class="form-control" id="email-input" placeholder="me@email.com">
			</div>
			<div class="form-group">	
				<lable for="exampleInputPassword">password</lable>
				<input type="password" class="form-control" id="password-input" placeholder="password">
			</div>
			<button type="submit" class="btn btn-default clicksignup">sign up!</button>
			<div>
			</div>
			<br>
			<p> or for existing members, </p>
			<a href="/login" id="loginButton">login{{!-- <button type="submit" id="loginButton" class="btn btn-default clicklogin">Login</button> --}}</a>
			
		</form>
	</center>
</div>

